@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.menu-toggle-group {
  text-align: center;
}

.user-toggle {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #00ffff, #ff00ee);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0 auto;
  box-shadow: 0 0 25px rgba(97, 104, 240, 0.5);
  transition: all 0.4s ease;
  z-index: 10;
}

.user-toggle:hover {
  transform: scale(1.1);
  box-shadow: 0 0 35px rgba(154, 222, 237, 0.9);
}

.user-eye {
  width: 25px;
  height: 25px;
  color: #2d30f0;
  transition: color 0.4s ease;
}

.nav-expanded .user-eye {
  color: #dbe6e7;
  filter: drop-shadow(0 0 8px #dbe6e7);
}

@keyframes spin-once {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin-once {
  animation: spin-once 0.5s linear;
}
